@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Our About Us Page of the sheepyfarm consultants website
    Author:
    Date:
    Filename: sf_about.html
    -->

    <title>SheepyFarms Consultants</title>
    <!--<link href="css/main.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="~/wwwroot/css/sf_styles_v1.css">
    <link rel="stylesheet" href="~/wwwroot/css/sf_reset.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="SheepyFarm Consultants About Us" />


</head>

<body>
    <header>
        <meta name="keywords" content="Home, Our Services, Overview, Breeding, milk, meat, farm health, about us, meet the team, our story, agri research, legal, Projects, ferndale, NZ sheep milk ltd, waiarapa mews, contact us" />
        <map name="home-map">
            <area shape="rect" coords="30,30,170,170"
                  href="sheepy_home_html.html" alt="sheepy home" />
        </map>


    </header>

    <section>
        <meta name="keywords" content="sheepyfarms, sheep, sheep milk, sheep productivity, nz, agri consultants, john sheep, tim merino, adam romney, paula wool" />
        <div class="row">
            <div class="column side"> </div>

            <div class="column middle">
                <div class="row-about" id="header">
                    <p>
                        <h1> Meet Our Team</h1>
                        <br>
                </div>

                <div class="row-about">
                    <p>We have a dedicated team committed to providing you with high-quality, reliable products and services. </p>
                    <p>
                        With extensive global and local knowledge,
                        we have the expertise to deliver a value added solution tailored to your needs. Our team is spread across the nation and can easily meet in person or online.
                    </p>
                    <br><br>
                </div>

                <div class="row-about">
                    <!--  <ul class="nav.horizontal">-->
                    <img class="about-img" src="~/wwwroot/img/team1.jpg" alt="John Sheep Waikato" />
                    <br>
                    <h2 class="about_h2">John Sheep </h2>
                    <p> Johns passion is around ecodiversity and breeding management.</p>
                    <p> John has spent many years at the European Farming Institute and specialises in land, nutrition, and breed development in Sheep.</p>
                </div>

                <div class="row-about">
                    <img class="about-img" src="~/wwwroot/img/team2.jpg" alt="Tim Merino Waikato" />
                    <br>
                    <h2 class="about_h2">Tim Merino </h2>
                    <p> Tim specialises in bio diversity and land governance.</p>
                    <p>
                        He has extensive experience in the NZ and Australian Sheep industry having held a number of roles with the Ministry of Primary Industries (MPI)
                        and the Victorian State Sheep and Beef Department.
                    </p>
                </div>

                <div class="row-about">
                    <img class="about-img" src="~/wwwroot/img/team3.jpg" alt="Adam Romney Southland" />
                    <br>
                    <h2 class="about_h2">Adam Romney </h2>
                    <p> Adam is our breeding specialist.</p>
                    <p>
                        After graduating from Lincoln University with a BSc majoring in Agricture), John spent 5 years in the Netherlands completing
                        an internship at the Dutch Ovine Research Institute.
                    </p>
                </div>
                <div class="row-about">
                    <img class="about-img" src="~/wwwroot/img/team4.jpg" alt="Paula Wool Waiarapa" />
                    <br>
                    <h2 class="about_h2">Paula Wool</h2>
                    <p> Paula is our pasture and land management expert.</p>
                    <p> Paula has spent 5 years in farm breeding development roles in Europe and a further 5 years in the Bio tech industry specialising in Sheep breeding in Germany.</p>
                </div>

            </div>
            <div class="column side"></div>
        </div>

    </section>

    <footer class="footer">
        <meta name="keywords" content="Company, about us, our services, privacy policy, online store, what we do, nutrional updates, farm surveys, planning, management advice, what we know, FAQ, global newsletter, economic updates, lastest survey, social links" />
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="sf_about_us.html">about us</a></li>
                        <li><a href="sf_our_services.html">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">online store</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>what we do</h4>
                    <ul>
                        <li><a href="#">nutritional updates</a></li>
                        <li><a href="#">farm surveys</a></li>
                        <li><a href="#">planning</a></li>
                        <li><a href="#">management advice</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>what we know</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">global newsletter</a></li>
                        <li><a href="#">economic updates</a></li>
                        <li><a href="#">latest survey results</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contact us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </footer>


    <audio id="myAudio" controls>
        <source src="~/wwwroot/music/Smyang Piano - Euphoria.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <button onclick="playAudio()">play</button>
    <button onclick="pauseAudio()">pause</button>

</body>
</html>