@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Our Contact Us page of the sheepyfarm consultants website
    Author:
    Date:
    Filename: sf_contact_us.html
    -->

    <title>SheepyFarms Consultants</title>
    <!--<link href="css/main.css" rel="stylesheet" />-->
    <meta name="description" content="SheepyFarm Consultants Contact Us" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/wwwroot/css/sf_contact_style.css">
    <link rel="stylesheet" href="~/wwwroot/css/sf_styles_v1.css">
    <link rel="stylesheet" href="~/wwwroot/css/sf_reset.css">
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    <header>
        <meta name="keywords" content="Home, Our Services, Overview, Breeding, milk, meat, farm health, about us, meet the team, our story, agri research, legal, Projects, ferndale, NZ sheep milk ltd, waiarapa mews, contact us" />
        <map name="home-map">
            <area shape="rect" coords="30,30,170,170"
                  href="sheepy_home_html.html" alt="sheepy home" />
        </map>

        
    </header>

    <section>
        <meta name="keywords" content="sheepyfarms, sheep, sheep milk, sheep productivity, nz, agri consultants, Contact Info, Address, Email, Phone No, Social Links, Email Us" />
        <div class="contactUs">
            <div class="title">
                <h2>Get in Touch</h2>
            </div>
            <div class="box">
                <!-- form -->
                <div class="contact form">
                    <h3>Send a Message</h3>
                    <form>
                        <div class="formBox">
                            <div class="row50">
                                <div class="inputBox">
                                    <span>First Name</span>
                                    <input type="text" placeholder="John">
                                </div>
                                <div class="inputBox">
                                    <span>Last Name</span>
                                    <input type="text" placeholder="Deer">
                                </div>
                            </div>

                            <div class="row50">
                                <div class="inputBox">
                                    <span>Email</span>
                                    <input type="text" placeholder="JohnDeer@email.com">
                                </div>
                                <div class="inputBox">
                                    <span>Mobile</span>
                                    <input type="text" placeholder="+94 234 567 8910">
                                </div>
                            </div>

                            <div class="row100">
                                <div class="inputBox">
                                    <span>Message</span>
                                    <textarea placeholder="Write your message here..."></textarea>
                                </div>
                            </div>

                            <div class="row100">
                                <div class="inputBox">
                                    <input type="submit" value="Send">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- info box -->
                <div class="contact info">
                    <h3>Contact Info</h3>
                    <div class="infoBox">
                        <div>
                            <span><ion-icon name="location"></ion-icon></span>
                            <p>69 Atamira Close, Wellington <br>New Zealand</p>
                        </div>
                        <div>
                            <span><ion-icon name="mail"></ion-icon></span>
                            <a href="mailto:SheepFarmsConsultants@email.com">SheepFarmsConsultants@email.com</a>
                        </div>
                        <div>
                            <span><ion-icon name="call"></ion-icon></span>
                            <a href="tel:+0947799876">+09 477 99876</a>
                        </div>
                        <!--  social media links  -->
                        <ul class="sci">
                            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Map -->
                <div class="contact map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.360056798598!2d174.80207971617196!3d-41.213923443868815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38ada553750d2f%3A0x22e373f333b9f190!2s69%20Atamira%20Close%2C%20Churton%20Park%2C%20Wellington%206037!5e0!3m2!1sen!2snz!4v1661170046048!5m2!1sen!2snz" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <meta name="keywords" content="Company, about us, our services, privacy policy, online store, what we do, nutrional updates, farm surveys, planning, management advice, what we know, FAQ, global newsletter, economic updates, lastest survey, social links" />
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="sf_about_us">about us</a></li>
                        <li><a href="sf_our_services.html">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">online store</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>what we do</h4>
                    <ul>
                        <li><a href="#">nutrional updates</a></li>
                        <li><a href="#">farm surveys</a></li>
                        <li><a href="#">planning</a></li>
                        <li><a href="#">management advice</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>what we know</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">global newsletter</a></li>
                        <li><a href="#">economic updates</a></li>
                        <li><a href="#">latest survey results</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contact us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>