@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Home Page of the sheepyfarm consultants website
    Author:
    Date:
    Filename: sheepy_home_html.html
    -->

    <title>SheepyFarms Consultants</title>
    <!--<link href="css/main.css" rel="stylesheet" />-->
    
    <link rel="stylesheet" href="~/wwwroot/css/sf_styles_v1.css">
    <link rel="stylesheet" href="~/wwwroot/css/sf_reset.css">
    <meta name="description" content="SheepyFarm Consultants">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    <header>
        <meta name="keywords" content="Home, Our Services, Overview, Breeding, milk, meat, farm health, about us, meet the team, our story, agri research, legal, Projects, ferndale, NZ sheep milk ltd, waiarapa mews, contact us" />
        <map name="home-map">
            <area shape="rect" coords="30,30,170,170"
                  href="~/Views/Home/Index.cshtml" alt="sheepy home" />
        </map>

        
        



    </header>

    <section>
        <meta name="keywords" content="sheepyfarms, sheep, sheep milk, sheep productivity, nz, agri consultants, Sheepy Farms, Achievements, Services, Sheep" />
        <div class="row">
            <div class="column side"> </div>

            <div class="column middle">
                <img class="sheep1-img" src="~/wwwroot/img/otagosheep.jpg" alt="sheep1" />
                <br>
                <p>
                    sheepyfarms has been consulting in the sheep industry since 1985.
                    We are market leaders in our field and have specialist expertise to
                    increase productivity both on and off the farm.
                </p>

                <p>
                    We apply science based methods that are proven to work.
                    We have a stellar track record and plenty of happy
                    profitable customers and <b> sheep </b> to
                    backup our results!
                </p>
                
                <br>
                <br>
                <br>
                <img class="sheep2-img" src="~/wwwroot/img/main-sheep-2.jpg" alt="sheep2" />
                <br>
                <p>
                    Sheep are domesticated, ruminant mammals typically kept as livestock.
                    Although the term sheep can apply to other species in the genus Ovis,
                    in everyday usage it almost always refers to Ovis aries. Like all ruminants,
                    sheep are members of the order Artiodactyla, the even-toed ungulates.
                    Numbering a little over one billion, domestic sheep are also the most numerous species of sheep.
                    An adult female is referred to as a ewe, an intact male as a ram,
                    a castrated male as a wether, and a young sheep as a lamb.
                </p>
                <br>
                <br>
                <img class="sheep3-img" src="~/wwwroot/img/main-sheep-3.jpg" alt="sheep3" />
                <br>
                <p>
                    A sheep's wool is the most widely used animal fiber, and is usually harvested by shearing.
                    In Commonwealth countries, ovine meat is called lamb when from younger animals and mutton when from older ones;
                    in the United States, meat from both older and younger animals is usually called lamb.
                    Sheep continue to be important for wool and meat today, and are also occasionally raised for pelts,
                    as dairy animals, or as model organisms for science.
                </p>
                
            </div>
            <div class="column side"></div>
        </div>

    </section>

    <footer class="footer">
        <meta name="keywords" content="Company, about us, our services, privacy policy, online store, what we do, nutrional updates, farm surveys, planning, management advice, what we know, FAQ, global newsletter, economic updates, lastest survey, social links" />
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="sf_about_us.html">about us</a></li>
                        <li><a href="sf_our_services.html">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">online store</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>what we do</h4>
                    <ul>
                        <li><a href="#">nutritional updates</a></li>
                        <li><a href="#">farm surveys</a></li>
                        <li><a href="#">planning</a></li>
                        <li><a href="#">management advice</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>what we know</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">global newsletter</a></li>
                        <li><a href="#">economic updates</a></li>
                        <li><a href="#">latest survey results</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contact us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
</body>
</html>